<!-- Add favicon -->
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">

<!-- Add the Young Serif and Bitter fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap" rel="stylesheet">

<!-- For MailChimp -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
