// Remote Work Afloat - Custom Styles
// This file contains custom styles for the Remote Work Afloat website, built on the Minima theme. It is used to override or add to the default styles provided by the Minima theme.

.page-content .wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

// Fonts
body {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;

  p {
    font-size: 0.95em;
    font-weight: 350;
    font-style: normal;
    color: $remote-work-afloat-color-5;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Young Serif", serif;
    color: $remote-work-afloat-color-4;
    line-height: 1em;
  }
  
  h1 {
    font-size: 3.25em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
    color: $remote-work-afloat-color-5;
  }

  h4 {
    font-size: 1.25em;
  }

  a:hover {
    text-decoration: none;
  }

  a.active-link {
    text-decoration: underline;
    text-underline-offset: 0.5em;  text-decoration-thickness: 1px;
  }

  .associate-disclosure {
    font-size: 0.85em;
    color: $remote-work-afloat-color-4;
    margin-bottom: 40px;
    text-align: center;
  }
}

// Navigation & Header Styles
.site-nav .nav-item {
  color: $remote-work-afloat-color-1;
}

.site-header { 
  font-weight: 300;
  font-size: 0.9em;
  background-color: $remote-work-afloat-color-3;
  border-top: none;

  div.wrapper {
    max-width: 900px;
    padding: 8px;
  }

  a, a:visited {
    color: $remote-work-afloat-color-1;
  }
}

.site-title, .site-title:visited {
  font-family: "Young Serif", serif;
  font-size: 1.5em;
  color: $remote-work-afloat-color-1;
}

@media screen and (max-width: 600px) {
  .site-nav {
    background-color: $remote-work-afloat-color-3;
  }
}

// Buttons
a.pill-button {
  font-weight: 400;
  display: inline-block;
  border-radius: 9999px; /* The key for the pill shape */
  background-color: $remote-work-afloat-color-3;
  color: $remote-work-afloat-color-1;
  padding: 15px 40px;

  &.nav-item {
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px 20px;
    margin: 4px 2px;
  }

  &.small {
    padding: 10px 20px;
    font-size: 0.85em;
  }

  &.orange {
    background-color: $remote-work-afloat-color-6;
    color: $remote-work-afloat-color-1;
  }

  &.white {
    background-color: $remote-work-afloat-color-1;
    color: $remote-work-afloat-color-5;
  }
}

.pill-button:hover {
  opacity: 0.8;
}

// Footer
.site-footer {
  background-color: $remote-work-afloat-color-5;
  
  .wrapper {
    max-width: 900px;
    padding: 20px;
  }
  
  .footer-col-wrapper {
    p {
      color: $remote-work-afloat-color-1;
    }

    h3, h4 {
      color: $remote-work-afloat-color-3;
    }

    a {
      color: $remote-work-afloat-color-3;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.5em;  text-decoration-thickness: 1px;
      }
    }

  }
}

/* Custom two-column styles */
.columns {
  display: flex;
  flex-wrap: wrap; /* Allows columns to wrap on smaller screens */
  gap: 20px; /* Adds space between columns */
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Centers the image horizontally */
}

.column {
  flex: 1; /* Makes columns flexible and equal width */
  min-width: 0; /* Allows content to shrink within the flex container */
  
  .image {
    flex-basis: 40%; /* Adjust width for the image column */
  }

  .content {
    flex-basis: 60%; /* Adjust width for the content column */
  }

  /* Make images inside the column responsive */
  img {
    max-height: 550px;
    height: auto;
  }
}

/* Add media query for responsiveness on mobile */
@media (max-width: 768px) {
  .columns {
    flex-direction: column; /* Stacks columns vertically on mobile */
  }
  .column.image,
  .column.content {
    flex-basis: 100%;
  }
}

// Home Page Recent Posts Section
.home-recent-posts {
  border-radius: 15px;
  background-color: $remote-work-afloat-color-3;
  padding: 40px;
  
  p, .post-list-heading, .post-link, .post-meta, .summary-read-more {
    font-weight: 300;
    color: $remote-work-afloat-color-1;

    &.post-meta {
      font-size: 0.7em;
      opacity: 0.7;
    }
  }

  .post-list {
    &.columns {
      align-items: normal; /* Aligns items to the top of the column */
    }
  }
  
  .post-link {
    font-size: 1.5em;
  }

  .summary-excerpt, .summary-read-more, .post-from-loop-life-academy {
    font-size: 0.85em;
    margin-bottom: 0;
  }

  .post-from-loop-life-academy, .summary-read-more {
    margin-top: 10px;
    
    a {
      color: $remote-work-afloat-color-1;
    }
  }
}

// About page
.about-main {
  background-color: $remote-work-afloat-color-2;
  padding: 40px;
  margin-top: -40px;
}

.about-news {
  background-color: $remote-work-afloat-color-4;
  margin: 40px 0;
  padding: 40px;

  &.columns {
    align-items: normal; /* Aligns items to the top of the column */
  }

  h1, p {
    color: $remote-work-afloat-color-1;
  }
}

.about-testimonies {
  margin-top: 40px;
  text-align: center;
  
  .columns {
    padding: 40px;
    align-items: normal; /* Aligns items to the top of the column */
    
    .column {
      background-color: $remote-work-afloat-color-2;
      padding: 40px 20px;
    }
  }

  h1, p {
    color: $remote-work-afloat-color-5;
  }

  h3 {
    line-height: 1.1em;
  }
}

.about-author {
  max-width: 900px;
  margin: auto;
  
  p {
    color: $remote-work-afloat-color-4;
  }

  a {
    color: $remote-work-afloat-color-3;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
}

.author-image {
  // height: 400px;
  width: 300px; /* Width must be smaller than height */
  border-radius: 999px; /* Or 50% / 100vw */
  object-fit: cover; /* Ensures image fills the shape properly */
}

// Gear Page
.gear-main {
  .content {
    max-width: 50%; 

    h1 {
      font-size: 2.5em;
    }
    
    p {
      font-size: 1.25em;
    }

    hr {
      width: 50%;
      margin: 40px auto;
      border-top: 1px solid $remote-work-afloat-color-3;
    }
  }
}

.gear-categories, .gear-items {
  .container {
    display: flex;
    flex-wrap: wrap; /* Allows items to flow to the next row */
    gap: 20px;

    .item {
      background-color: $remote-work-afloat-color-2;
      padding: 40px;
      text-align: center;
      flex: 1 1 0; /* grow, shrink, flex-basis: 0 */
      min-width: 300px; /* Optional: Sets a minimum width before wrapping */
      /* Ensures heights are equal if parent is a flex container */
    
      &.featured {
        background-color: $remote-work-afloat-color-4;
        h3, p {
          color: $remote-work-afloat-color-1;
        }
      }
    }

    .item-categories {
      min-width: 200px;
    }
  }
}

.gear-footer {
  text-align: center;
  margin-top: 60px;
}