// Remote Work Afloat - Custom Styles
// This file contains custom styles for the Remote Work Afloat website, built on the Minima theme. It is used to override or add to the default styles provided by the Minima theme.

.page-content.standard .wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.page-content.wide .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.page-content.full .wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

// Fonts
body {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;

  p {
    font-size: 0.95em;
    font-weight: 350;
    font-style: normal;
    color: $remote-work-afloat-color-5;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Young Serif", serif;
    color: $remote-work-afloat-color-4;
    line-height: 1em;
  }
  
  h1 {
    font-size: 3.25em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
    color: $remote-work-afloat-color-5;
  }

  h4 {
    font-size: 1.25em;
  }

  a:hover {
    text-decoration: none;
  }

  a.active-link {
    text-decoration: underline;
    text-underline-offset: 0.5em;  text-decoration-thickness: 1px;
  }

  .associate-disclosure {
    font-size: 0.85em;
    color: $remote-work-afloat-color-4;
    margin-bottom: 40px;
    text-align: center;
  }
}

// Navigation & Header Styles
.site-nav .nav-item {
  color: $remote-work-afloat-color-1;
}

.site-header { 
  font-weight: 300;
  font-size: 0.9em;
  background-color: $remote-work-afloat-color-3;
  border-top: none;

  div.wrapper {
    max-width: 900px;
    padding: 8px;
  }

  a, a:visited {
    color: $remote-work-afloat-color-1;
  }
}

.site-title, .site-title:visited {
  font-family: "Young Serif", serif;
  font-size: 1.5em;
  color: $remote-work-afloat-color-1;
}

@media screen and (max-width: 600px) {
  .site-nav {
    background-color: $remote-work-afloat-color-3;
  }
}

// Buttons
a.pill-button {
  font-weight: 400;
  display: inline-block;
  border-radius: 9999px; /* The key for the pill shape */
  background-color: $remote-work-afloat-color-3;
  color: $remote-work-afloat-color-1;
  padding: 15px 40px;

  &.nav-item {
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px 20px;
    margin: 4px 2px;
  }

  &.small {
    padding: 10px 20px;
    font-size: 0.85em;
  }

  &.full-width {
    display: block;
  }

  &.orange {
    background-color: $remote-work-afloat-color-6;
    color: $remote-work-afloat-color-1;
  }

  &.blue {
    background-color: $remote-work-afloat-color-4;
    color: $remote-work-afloat-color-1;
  }

  &.white {
    background-color: $remote-work-afloat-color-1;
    color: $remote-work-afloat-color-5;
  }

  &.active-link {
    text-decoration: none;
  }
}

.pill-button:hover {
  opacity: 0.8;
}

// Footer
.site-footer {
  background-color: $remote-work-afloat-color-5;
  
  .wrapper {
    max-width: 900px;
    padding: 20px;
  }
  
  .footer-col-wrapper {
    p {
      color: $remote-work-afloat-color-1;
    }

    h3, h4 {
      color: $remote-work-afloat-color-3;
    }

    a {
      color: $remote-work-afloat-color-3;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.5em;  text-decoration-thickness: 1px;
      }
    }

  }
}

/* Custom Columns */
.columns {
  display: flex;
  gap: 20px;
  align-items: stretch;
  justify-content: center;

  .column {
    flex: 1;
    min-width: 0;
  }

  &.split {
    align-items: center; // override stretch if desired

    .column.image {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .column.content {
      flex: 3;
    }
  }

  img {
    max-width: 100%;
    max-height: 550px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
}

// Home Page Recent Posts Section
.home-recent-posts {
  border-radius: 15px;
  background-color: $remote-work-afloat-color-3;
  padding: 40px;
  
  p, .post-list-heading, .post-link, .post-meta, .summary-read-more {
    font-weight: 300;
    color: $remote-work-afloat-color-1;

    &.post-meta {
      font-size: 0.7em;
      opacity: 0.7;
    }
  }

  .post-list {
    &.columns {
      align-items: normal; /* Aligns items to the top of the column */
    }
  }
  
  .post-link {
    font-size: 1.5em;
  }

  .summary-excerpt, .summary-read-more, .post-from-loop-life-academy {
    font-size: 0.85em;
    margin-bottom: 0;
  }

  .post-from-loop-life-academy, .summary-read-more {
    margin-top: 10px;
    
    a {
      color: $remote-work-afloat-color-1;
    }
  }
}

// About page
.about-main {
  background-color: $remote-work-afloat-color-2;
  padding: 40px 10%;
  margin-top: -40px;
}

.about-news {
  background-color: $remote-work-afloat-color-4;
  margin: 40px 0;
  padding: 40px 20%;

  &.columns {
    align-items: normal; /* Aligns items to the top of the column */
  }

  h1, p {
    color: $remote-work-afloat-color-1;
  }
}

.about-testimonies {
  margin-top: 40px;
  text-align: center;
  
  .columns {
    padding: 40px;
    align-items: normal; /* Aligns items to the top of the column */
    
    .column {
      background-color: $remote-work-afloat-color-2;
      padding: 40px 20px;
    }
  }

  h1, p {
    color: $remote-work-afloat-color-5;
  }

  h3 {
    line-height: 1.1em;
  }
}

.about-author {
  padding: 0 20%;
  margin: auto;
  
  p {
    color: $remote-work-afloat-color-4;
  }

  a {
    color: $remote-work-afloat-color-3;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
}

.author-image {
  // height: 400px;
  width: 300px; /* Width must be smaller than height */
  border-radius: 999px; /* Or 50% / 100vw */
  object-fit: cover; /* Ensures image fills the shape properly */
}

// Gear Page
.gear-main {
  .content {
    max-width: 50%; 

    h1 {
      font-size: 2.5em;
    }
    
    p {
      font-size: 1.25em;
    }

    hr {
      width: 50%;
      margin: 40px auto 0;
      border-top: 1px solid $remote-work-afloat-color-3;
    }
  }
}

.gear-categories, .gear-items, .article-categories {
  margin: 40px auto;
  .container {
    display: flex;
    flex-wrap: wrap; /* Allows items to flow to the next row */
    gap: 20px;

    .item {
      background-color: $remote-work-afloat-color-2;
      padding: 40px;
      text-align: center;
      flex: 1 1 0; /* grow, shrink, flex-basis: 0 */
      min-width: 300px; /* Optional: Sets a minimum width before wrapping */
      /* Ensures heights are equal if parent is a flex container */

      &.item-categories {
        display: flex;
        flex-direction: column;
        flex: 1 1 0; /* grow, shrink, flex-basis: 0 */
      }
    
      &.featured {
        background-color: $remote-work-afloat-color-4;
        h3, p {
          color: $remote-work-afloat-color-1;
        }
      }

      & a {
        margin-top: auto;
      }
    }

    .item-categories {
      min-width: 200px;
    }
  }
}

.gear-footer {
  text-align: center;
  margin-top: 60px;
}

.articles .main {
  max-width: 900px;
  margin: auto;
}

// Buy Page
.buy {
  .main {
    padding: 0 15%;
  }

  .retailers, .to-share, .spread-the-word {
    padding: 40px;
    text-align: center;
    
    .retailer-links .column {
      max-width: 150px;
      margin-top: auto;
    }

    & .column {
      max-width: 700px;
    }
  }
  
  .retailers {
    margin-top: 50px;
    background-color: $remote-work-afloat-color-2;
  }

  .to-share {
    background-color: $remote-work-afloat-color-4;
    
    h2, p, a {
      color: $remote-work-afloat-color-1;
    }
    
  }
  
  .spread-the-word {
    margin-top: 30px; // This is to match the page-content padding
    background-color: $remote-work-afloat-color-3;

    p {
      margin-bottom: 0;
    }
  }
}

.callout-box {
  border-radius: 25px;
  padding: 40px;
  margin: auto;

  // Center the content
  display: flex;
  flex-direction: column;  // stack children vertically
  align-items: center;     // horizontally center everything
  gap: 1rem;               // spacing between button, text, and icons
  text-align: center;      // ensures text paragraphs are centered (optional)

  &.border-white {
    border-width: 4px;
    border-style: solid;
    border-color: $remote-work-afloat-color-1;
  }

  &.border-black {
    border-width: 4px;
    border-style: solid;
    border-color: $remote-work-afloat-color-5;
  }

  &.background-white {
    background-color: $remote-work-afloat-color-1;
    color: $remote-work-afloat-color-5;
  }
}

// Review Page
.review {
  .main {
    padding: 40px 15%;
    background-color: $remote-work-afloat-color-2;
  }

  .to-share {
    padding: 40px;
    text-align: center;
    
    & .column {
      max-width: 800px;
    }
  }
}

.community {
  a {
    color: $remote-work-afloat-color-3;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.25em;  text-decoration-thickness: 1px;
    }
  }
  
  .main, .learn-plan-thrive {
    padding: 40px 10%;

    .cta {
      margin-top: 50px;
      margin-bottom: -20px;
    }
  }

  .stay-connected {
    padding: 40px 25%;
    background-color: $remote-work-afloat-color-4;

    .social-links {
      margin-top: 20px;
    }
  }

  .resource-sections {
    .resource-box {
      background-color: $remote-work-afloat-color-2;
      padding: 30px;
      display: flex;
      flex-direction: column;

      .resource-items {
        flex-grow: 1;

        .resource-item {
          margin-bottom: 15px;
        }
      }
    }
  }

  .join-the-conversation {
    background-color: $remote-work-afloat-color-2;
    
    .top {
      padding: 40px 25%;
    }

    .columns {
      padding: 40px 5%;
    }

    .blue {
      color: $remote-work-afloat-color-3;
    }

    .community-links {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.75rem;
      }

      a {
        font-weight: 600;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }



  }
  
  .featured-posts {
    background-color: $remote-work-afloat-color-2;
    padding: 40px 100px;
    margin-bottom: -30px;

    .post-link {
      font-size: 1.25em;
      color: $remote-work-afloat-color-5;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.25em;  text-decoration-thickness: 1px;
      }
    }
    .post-meta {
      font-size: 0.75em;
      color: $remote-work-afloat-color-4;
    }
  }

  .post-list {
    margin-top: 40px;
  }
}

.center {
  text-align: center;
}

.social-media-list li a {
  border: none;
  padding: 10px 0;

  span {
    color: $remote-work-afloat-color-4;
  }
}

// Tags
.post-tags {
  margin-top: 2rem;
}

.tag-link {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  background: #eef5ff;
  padding: 4px 10px;
  border-radius: 20px;
}

.tag-link:hover {
  background: #dbeaff;
}

.tag-section {
  margin-top: 3rem;
}

.tag-post-list {
  list-style: none;
  padding-left: 0;
}

.tag-post-list li {
  margin-bottom: 0.5rem;
}