// Remote Work Afloat Colors

$remote-work-afloat-color-1: #FFFFFF; // White
$remote-work-afloat-color-2: #BFE9F9; // Light Blue
$remote-work-afloat-color-3: #35B7E9; // Medium Blue
$remote-work-afloat-color-4: #0074A0; // Dark Blue
$remote-work-afloat-color-5: #070807; // Very Dark Blue
$remote-work-afloat-color-6: #ff9800; // Orange
