---
layout: base
---

<div class="home">
  <div class="columns split">
    {% if page.featured_image %}
    <div class="column image">
      <img src="{{ page.featured_image | relative_url }}" alt="{{ page.featured_image_alt | escape }}" class="home-featured-image" />
    </div>
    {% endif %}
    
    <div class="column content">
      {{ content }}
      <div>
        <a href="{{ '/about' | relative_url }}" class="pill-button">
          Learn more about the Book
        </a>
      </div>
    </div>
  </div>
    
  <!-- Define our source for posts -->
  {% assign posts = site.posts %}
  {%- if posts.size > 0 -%}

  <div class="home-recent-posts">
    <p class="recent-post-summary">Recent Articles from our Tea & Tides Stories authors and experts</p>
  
    <!-- Show recent posts -->
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list columns">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      {%- for post in posts limit:3 -%}

        <li class="column">
          <a class="post-link {% if post.external %}external-link{% endif %}"
            href="{% if post.external %}{{ post.external }}{% else %}{{ post.url | relative_url }}{% endif %}"
            {% if post.external %}target="_blank" rel="noopener noreferrer"{% endif %}>

            {%- if post.article_title -%}
              {{ post.article_title | escape }}
            {%- else -%}
              {{ post.title | escape }}
            {%- endif -%}

            {% if post.external %}
              <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i>
            {% endif %}
          </a>

          {% if site.minima.show_excerpts %}
            <p class="summary-excerpt">
              {{ post.article_excerpt }}
            </p>
          {% endif %}

          {%- if post.external and post.external contains 'looplifeacademy' -%}
            <p class="post-from-loop-life-academy">
              [Article from
              <em>
                <a href="{{ site.loop_life_academy_url }}"
                  target="_blank"
                  rel="noopener noreferrer">
                  Loop Life Academy
                </a>
              </em>]
            </p>
          {%- endif -%}

          <p class="summary-read-more">
            <a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url | relative_url }}{% endif %}"
              {% if post.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
              Read More
              {% if post.external %}
                <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i>
              {% else %}
                &rarr;
              {% endif %}
            </a>
          </p>

          <p class="post-meta">
            {{ post.date | date: date_format }}
          </p>

        </li>

      {%- endfor -%}
    </ul>
    <a href="{{ '/articles' | relative_url }}" class="pill-button white center">
      View All Articles
    </a>
  </div>

  {%- endif -%}
</div>