---
layout: base
---

<div class="home">
  <div class="columns">
    {% if page.featured_image %}
    <div class="column image right">
      <img src="{{ page.featured_image | relative_url }}" alt="{{ page.featured_image_alt | escape }}" class="home-featured-image" />
    </div>
    {% endif %}
    
    <div class="column content">
      {{ content }}

      <div>
        <a href="{{ '/about' | relative_url }}" class="pill-button">
          Learn more about the Book
        </a>
      </div>
    </div>
  </div>
    
  <!-- Define our source for posts -->
  {% assign posts = site.posts %}
  {%- if posts.size > 0 -%}
  <hr />

  <div class="home-recent-posts">
    <p>Recent Articles from our Tea & Tides Stories authors and experts</p>
  
    <!-- Show recent posts -->
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list columns">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts limit:3 -%}

      <!-- Set post link depending of if from Loop Life or internal -->
      {% capture post_link %}
        {% if post.external %}
          {{ post.external }}
        {% else %}
          {{ post.url | relative_url }}
        {% endif %}
      {% endcapture %}
      <!-- End Loop Life captures -->

      <li class="column">
        <a class="post-link {% if post.external %}external-link{% endif %}" href="{{ post_link | strip }}" {% if post.external %}target="_blank"{% endif %}>
          {%- if post.article_title -%}
            {{ post.article_title | escape }}
          {%- else -%}
            {{ post.title | escape }}
          {%- endif -%}
        </a>

        {%- if site.minima.show_excerpts -%}
        <p class="summary-excerpt">
          {{ post.article_excerpt }}
        </p>

        {% if post.permalink contains 'looplifeacademy' %}
        <p class="post-from-loop-life-academy">[Article from <em><a href="{{ site.loop_life_academy_url }}" target="_blank">Loop Life Academy</a></em>]</p>
        {% endif %}

        <p class="summary-read-more">
          <a href="{{ post_link | strip }}" {% if post.external %}target="_blank"{% endif %}>Read More &rarr;</a>
        </p>

        <span class="post-meta">{{ post.date | date: date_format }}</span>

        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    <a href="{{ '/articles' | relative_url }}" class="pill-button white">
      View All Articles
    </a>
  </div>

  {%- endif -%}
</div>