---
layout: base
---

<div class="review">
  <div class="columns split main">
    <div class="column content">
      {{ content }}
    </div>
    {% if page.featured_image %}
      <div class="column image">
        <img src="{{ page.featured_image | relative_url }}" alt="{{ page.featured_image_alt | escape }}" class="home-featured-image" />
      </div>
    {% endif %}
  </div>
  
  <div class="columns to-share">
    <div class="column to-review">
      <h2>Leave reviews to help others find this book!</h2>
      <div class="columns retailer-links">
        <div class="column">
          <a href="{{ site.amazon_url }}" target="_blank">
            <i class="fa-brands fa-amazon fa-7x"></i><br />
            Amazon
          </a>
        </div>
        <div class="column">
          <a href="{{ site.goodreads_url }}" target="_blank">
            <i class="fa-brands fa-goodreads fa-7x"></i><br />
            Goodreads
          </a>
        </div>
        <div class="column">
          <a href="{{ site.storygraph_url }}" target="_blank">
            <svg width="112px" height="112px" viewBox="0 0 48 48" id="a" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <style>.h{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;}</style>
              </defs>
              <g id="b">
                <g id="c">
                  <rect id="d" class="h" x="5.5" y="6.6165" width="7.6031" height="29.8423" rx="1" ry="1"/>
                  <rect id="e" class="h" x="16.5636" y="6.6165" width="7.6031" height="29.8423" rx="1" ry="1"/>
                  <rect id="f" class="h" x="30.9108" y="6.3431" width="7.6033" height="29.8418" rx="1" ry="1" transform="translate(-4.6835 11.0135) rotate(-16.9062)"/>
                  <rect id="g" class="h" x="5.5" y="39.0428" width="37" height="2.828" rx="1" ry="1"/>
                </g>
              </g>
            </svg><br />
            The Storygraph
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
