---
layout: base
---

<div class="page-content">
  <!-- Primary Content -->
  <div class="about-main columns">
    <div class="column content">
         {{ content }}
    </div>
    {% if page.featured_image %}
      <div class="column image center">
        <img src="{{ page.featured_image | relative_url }}" alt="{{ page.featured_image_alt | escape }}" class="home-featured-image" />
      </div>
    {% endif %}
  </div>

  <!-- Testimonies -->
  <div class="about-testimonies">
    <h1>What People Are Saying</h1>
    <div class="columns">
       {% for item in site.data.testimonies %}
        <div class="column">
          <h3>{{ item.testimony }}</h3>
          <p>{% for i in (1..item.rating) %}⭐️{% endfor %} - {{ item.name }}</p>
          <a class="pill-button small" href="{{ item.link }}" target="_blank">
            Read Full Review
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- In the News -->
  <div class="about-news columns">
    <div class="column">
      <h1>In the News</h1>
    </div>
    <div class="column">
      <p>Stay up to date with the latest news, press releases, and media features about Remote Work Afloat.</p>
      <p>Get updates on book launches, author interviews, and insights for remote work and cruising life.</p>
      <a href="/news" class="pill-button">
        Read News & Updates
      </a>
    </div>
  </div>

  <!-- About the Author -->
  <div class="about-author columns">
    <div class="column image center">
      <img src="{{ '/assets/img/author-alison_major.png' | relative_url }}" alt="Book Author Alison Major" class="author-image" />
    </div>
    <div class="column content">
      <h1>About the Author</h1>
      <p>Alison is a passionate traveler, writer, and advocate for remote work and life on the water. Together with her family—husband Chris and kids Ewan and Gwynnie—she completed the Great Loop, a 6,000+ mile journey that sparked a new way of living and working. Now, the family continues to cruise on their <em>2005 Beneteau 423</em>, S/V Fika, embracing the freedom that comes with life on a sailboat while balancing work, homeschooling, and adventure.</p>
      <p>Alison’s experiences on the Great Loop and beyond have shaped her unique perspective on remote work, and she is dedicated to helping others transition to this lifestyle. Through her website, <a href="{{ site.loop_life_academy_url }}" target="_blank">Loop Life Academy</a>, and her books, she shares practical advice on how to make boat life work—whether for a year-long adventure or as a long-term lifestyle. Alison believes in the power of adventure, personal growth, and the flexibility that comes with remote work. She strives to inspire others to take the leap and live life outside the ordinary.</p>
      <p>When she’s not working on her next book or creating content for <a href="{{ site.loop_life_academy_url }}" target="_blank">Loop Life Academy</a>, Alison enjoys reading, sailing, taking a break for a cuppa, and learning alongside her kids as they explore new places, cultures, and ideas. She hopes to inspire you to find your own path—whether it’s on the water or wherever your journey takes you.</p>
    </div>
  </div>
</div>
