---
layout: base
---

<div class="community">
  <div class="columns split main">
    <div class="column content">
      {{ content }}
    </div>

    {% if page.featured_image %}
    <div class="column image">
      <img src="{{ page.featured_image | relative_url }}" alt="{{ page.featured_image_alt | escape }}" class="home-featured-image" />
    </div>
    {% endif %}
  </div>

  <div class="columns stay-connected">
    <div class="column">
      <div class="callout-box border-black background-white">
        <h3>Stay Connected on the Water!</h3>
        <p>Join the <strong>Loop Life Academy</strong> community and connect with fellow adventurers navigating America’s Great Loop. Share your journey, gain insights, and be part of a network of like-minded cruisers.</p>
        <p>Our <strong>email newsletter</strong> brings you expert cruising tips, in-depth blogs, and resources to help you make the most of life on the water. Whether you’re looking for navigation advice, remote work solutions, or inspiration for your next stop, we’ve got you covered!</p>
        <a href="{{ site.loop_life_academy_url }}/newsletter" target="_blank" class="pill-button blue ">
          Sign up today and never miss an update!
        </a>
        <div class="social-links">
          {%- include social.html -%}
        </div>
      </div>
    </div>
  </div>

  <div class="join-the-conversation">
    <div class="top">
      <h2>
        <span class="blue">Join the Conversation:</span><br />
        Connect with Fellow Cruisers & Remote Workers
      </h2>
      <p>Looking for a place to share experiences, ask questions, and connect with a like-minded community? Whether you’re cruising the Great Loop, working remotely from a boat, or planning your next adventure, there’s a space for you!</p>
    </div>
    <div class="columns">
      <div class="column">
        <h2>Where to Join the Discussion</h2>
        <p>Explore these online communities where boaters and digital nomads share insights, tips, and stories:</p>
        <ul class="community-links">
          {% for link in site.data.community_links %}
            <li>
              📍 
              <a href="{{ link.url }}" target="_blank">
                {{ link.name }}
              </a>
              {% if link.note %}
                ({{ link.note }})
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="column">
        <div class="callout-box border-black background-white">
          <h2>
            <span class="blue">Stay Engaged:</span><br />
            Join the Loop Life Academy Community
          </h2>
          <p>Follow <strong>Loop Life Academy's</strong> social media to share your journey, ask for advice, and connect with fellow cruisers.</p>
          <div class="social-links">
            {%- include social.html -%}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="learn-plan-thrive">
    <h2 class="center">Learn, Plan, and Thrive with Loop Life Academy</h2>
    <p class="center">Whether you’re preparing for the Great Loop, navigating life as a remote worker on the water, or looking for expert advice, <a href="{{ site.loop_life_academy_url }}" target="_blank">Loop Life Academy</a> has the tools and resources to help you succeed.</p>
    <div class="columns resource-sections">
      {% for section in site.data.community_resources %}
        {% assign bullet = section.bullet | default: "✅" %}
        <div class="column resource-box {{ section.background }}">
          
          <h2>{{ section.title }}</h2>
          <p>{{ section.description }}</p>

          <div class="resource-items">
            {% for item in section.items %}
              
              <div class="resource-item">
                {{ bullet }}
                {% if item.url %}
                  <strong>
                    {% if item.internal %}
                      <a href="{{ item.url | relative_url }}">
                    {% else %}
                      <a href="{{ item.url }}" target="_blank">
                    {% endif %}
                      {{ item.title }}
                    </a>
                  </strong>
                {% else %}
                  <strong>{{ item.title }}</strong>
                {% endif %}

                {% if item.description %}
                  <p>{{ item.description }}</p>
                {% endif %}
              </div>

            {% endfor %}
          </div>

          {% if section.cta %}
            <a href="{{ section.cta.url }}" target="_blank" class="pill-button blue center">
              {{ section.cta.text }}
            </a>
          {% endif %}

        </div>
      {% endfor %}
    </div>

    <div class="cta center">
      <h4>🚀 Ready to make the most of your adventure?</h4>
      <p>Check out Loop Life Academy for expert guidance, tools, and support to help you thrive on the water!</p>
    </div>
  </div>

  <!-- Including sample will randomize our results -->
  {% assign featured_posts = site.posts | where: "featured", true | sample: 4 %}

  {%- if featured_posts.size > 0 -%}
  <hr />

  <div class="featured-posts">
    <h2 class="center">Featured Articles & Content</h2>
    <p class="center">Here are some of our favorite articles and videos to inspire your next adventure and help you on your journey:</p>

    <ul class="post-list columns">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      {%- for post in featured_posts limit:4 -%}
        {% capture post_link %}
          {% if post.external %}
            {{ post.external }}
          {% else %}
            {{ post.url | relative_url }}
          {% endif %}
        {% endcapture %}

        <li class="column">
          <a class="post-link {% if post.external %}external-link{% endif %}" href="{{ post_link | strip }}" {% if post.external %}target="_blank"{% endif %}>
            {%- if post.article_title -%}
              {{ post.article_title | escape }}
            {%- else -%}
              {{ post.title | escape }}
            {%- endif -%}
          </a>

          {%- if site.minima.show_excerpts -%}
          <p class="summary-excerpt">
            {{ post.article_excerpt }}
          </p>
          {%- endif -%}

          {%- if post.permalink contains 'looplifeacademy' -%}
          <p class="post-from-loop-life-academy">[Article from <em><a href="{{ site.loop_life_academy_url }}" target="_blank">Loop Life Academy</a></em>]</p>
          {%- endif -%}

          <p class="summary-read-more">
            <a href="{{ post_link | strip }}" {% if post.external %}target="_blank"{% endif %}>Read More &rarr;</a>
          </p>

          <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        </li>
      {%- endfor -%}
    </ul>

    <a href="{{ '/articles' | relative_url }}" class="pill-button white">
      View All Articles
    </a>
  </div>
  {%- endif -%}
</div>
